
<%= link_to "Go to Mobile View", home_path(mobile: 1 ), id:'link_float' %>
<div id="flipbook-container-1" class="flipbook-container">
	<!-- Flip book -->
	<div id="flipbook-1" class="flipbook">
		<!-- Start Flip Book Pages -->

		<!-- Cover -->
		<div class="fb-page">
			<div class="page-content">
				<div class="container">
					<%= image_tag "flipbookimg/pages/preview/first_rel_d/sat_orange_b.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>
		</div>
		
		<!-- Pages 2 & 3 Table of Content 
	        <h2 class="enlarge" style="color:$satOrange">Satsuma Collection</h2>
	    -->
		<div class="fb-page double">
			<div class="page-content">
				<div class="container">
					<div style="padding-top: 6%;" class="preview-content toc left">
						<p class="sat_toc enlarge">SATSUMA</p>
						<p class="coll_toc enlarge"><span style="visibility:hidden"></span>COLLECTION</p>
						<h3 class="enlarge toc_toc" >Table of Contents</h3>		
						<ul class="toc enlarge" >
							<!-- <li><a href="#3"></a><span class="number">03</span><span class="text" >Table of Contents</span></a></li> -->
							<li><a href="#1"><span class="number">01</span><span class="text" >Front Cover</span></a></li>
							<li><a href="#5"><span class="number">05</span><span class="text">Exquisite Textiles</span></a></li> 
							<li><a href="#7"><span class="number">07</span><span class="text">Brocades, Shantung Silk, and Silk Velvet</span></a></li>
							<li><a href="#8"><span class="number">08</span><span class="text">Velvet Throws</span></a></li>
							<li><a href="#9"><span class="number">09</span><span class="text" >Inspiration</span></a></li> 
							<li><a href="#10"><span class="number">10</span><span class="text">Twisted Silk Pillows</span></a></li>	
							<li><a href="#11"><span class="number">11</span><span class="text">Twisted Silk and Pure Velvet</span></a></li>	
					</div>

					<div style="padding-top:6%;" class="preview-content toc right">
						<div style="visibility: hidden">
						<p class="sat_toc enlarge">SATSUMA</p>
						<p class="coll_toc enlarge"><span style="visibility:hidden"></span>COLLECTION</p>
						<h3 class="enlarge toc_toc" >Table of Contents</h3>		
						</div> 
						<ul class="toc enlarge" >												
							<li><a href="#12"><span class="number">12</span><span class="text">Classic Silk Shantung Pillows</span></a></li>				
							<li><a href="#14"><span class="number">14</span><span class="text">Brocade and Velvet</span></a></li>	
							<li><a href="#15"><span class="number">15</span><span class="text">Shantung and Velvets</span></a></li>	
							<li><a href="#17"><span class="number">17</span><span class="text">Satsuma Linen</span></a></li>
							<li><a href="#18"><span class="number">18</span><span class="text">Table Runners and Napkins</span></a></li>
							<li><a href="#19"><span class="number">19</span><span class="text">Colors of Linen</span></a></li>
							<li><a href="#20"><span class="number">20</span><span class="text">Back Cover</span></a></li>
							<br></br>
							<%= link_to "Go to Mobile View", home_path(mobile: 1), id: "link_css" %>
						</ul>
					</div>					
					<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
					<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg", class: "bg-img zoom-large"%>					 
				</div>
			</div>
		</div>

		<!-- Pages 4 and 5 , Satsuma Presents -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/booth.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	


		<!-- Pages 6 and 7, Satsuma Presents -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<%= image_tag "flipbookimg/pages/preview/first_rel_d/05_beauty_words_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/06_brocades_silk_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		<!-- Pages 10 and 11 -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/07_velvet_throws_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/08_inspiration_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		<!-- Pages 12 and 13-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/09_twisted_pills_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/10_twisted_silks_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
			
		<!-- Pages 14 and 15-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/11_classic_pills_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/12_classic_pics_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

			<!-- Pages 16 and 17-->
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/13_brocade_velvet_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/14_shantung_velvet_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>

		<!-- Pages 18 and 19-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/15_pure_linen_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		
		<!-- Pages 20 and 21-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/16_runners_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_d/17_colors_linen_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		

		<!-- Back Cover -->
		<div class="fb-page">
			<div class="page-content">
				<div class="container">
					<%= image_tag "flipbookimg/pages/preview/first_rel_d/back_cover_e.PNG",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>
		</div>
		
		<!-- end Flip Book Pages -->
		
	</div> <!-- end Flip Book -->
	
	<!-- Flip Book Navigation -->
	<div id="fb-nav-1" class="fb-nav mobile stacked">
		<ul>
			<li class="toc left">Table Of Content</li>
			<li class="zoom center">Zoom</li>
			<li class="slideshow center">Slide Show</li>
			<li class="show-all right">Show All Pages</li>
		</ul>				
	</div> <!-- end FLip Book Nav -->

</div> <!-- end Flip Book Container -->
<!-- 
</div>  dummy-sib 
</div>   outmost-box 
-->

