<div id="flipbook-container-1" class="flipbook-container">
	
	<!-- Flip book -->
	<div id="flipbook-1" class="flipbook">
		<!-- Start Flip Book Pages -->
		
		<!-- Cover -->
		<div class="fb-page">
			<div class="page-content">
				<div class="container">
					<%= image_tag "flipbookimg/pages/preview/first_rel_b/sat_orange_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>
		</div>
		
		<!-- Pages 2 & 3 Table of Content 
	        <h2 class="enlarge" style="color:$satOrange">Satsuma Collection</h2>
	    -->
		<div class="fb-page double">
			<div class="page-content">
				<div class="container">
					<div style="padding-top: 2%;" class="preview-content toc left">
						<h2 class="enlarge" style="color: #F68747">Satsuma Collection</h2>
						<h3 class="enlarge" style="color: black">Table of Contents</h3>		
						<ul class="toc enlarge" >
							<!-- <li><a href="#3"></a><span class="number">03</span><span class="text" >Table of Contents</span></a></li> -->
							<li><a href="#1"><span class="number">01</span><span class="text" >Front Cover</span></a></li>
							<li><a href="#5"><span class="number">05</span><span class="text">Moscone Center, SF</span></a></li> 
							<li><a href="#7"><span class="number">07</span><span class="text">Silk Velvet and Brocades</span></a></li>
							<li><a href="#9"><span class="number">09</span><span class="text">Shantung Silk and Silk Velvet</span></a></li>
							<li><a href="#11"><span class="number">11</span><span class="text">Twisted Silk Pillows</span></a></li>
							<li><a href="#12"><span class="number">12</span><span class="text">Velvet Throws</span></a></li>
							<li><a href="#13"><span class="number">13</span><span class="text">Fig Velvet Throw</span></a></li>
							<li><a href="#14"><span class="number">14</span><span class="text">Chrysanthemum Brocades</span></a></li>							
						</ul>
					</div>
					<div style="padding-top: 2%;" class="preview-content toc right">
						<h2 class="enlarge" style="color: #FE9261; visibility: hidden;">Satsuma Collection</h2>
						<h3 class="enlarge" style="color: black; visibility: hidden;">Table of Contents</h3>		
						<ul class="toc enlarge" >
							<li><a href="#15"><span class="number">15</span><span class="text">Pear Velvet and Silk</span></a></li>				
							<li><a href="#17"><span class="number">17</span><span class="text" >Classic Silk Pillows</span></a></li> 
							<li><a href="#19"><span class="number">19</span><span class="text">Inspiration</span></a></li>
							<li><a href="#21"><span class="number">21</span><span class="text">Obi Pillows</span></a></li>
							<li><a href="#23"><span class="number">23</span><span class="text">Satsuma Linen</span></a></li>
							<li><a href="#24"><span class="number">24</span><span class="text">Table Runners and Napkins</span></a></li>
							<li><a href="#25"><span class="number">25</span><span class="text">Colors of Linen</span></a></li>
							<li><a href="#26"><span class="number">26</span><span class="text">Back Cover</span></a></li>
						</ul>
					</div>					
					<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
					<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg", class: "bg-img zoom-large"%>					 
				</div>
			</div>
		</div>

		<!-- Pages 4 and 5 , Satsuma Presents -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/booth_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	


		<!-- Pages 6 and 7, Satsuma Presents -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/04_brocade_coll_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		
		<!-- Pages 8 and 9 -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/05_beauty_words_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/06_brocades_silk_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		<!-- Pages 10 and 11 -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/07_twisted_silks_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/08_twisted_avail_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		<!-- Pages 12 and 13-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/09_velvet_throws_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/10_fig_velvet_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		
		<!-- Pages 14 and 15-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/11_chrys_brocades_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/12_pear_velvet_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		
		<!-- Pages 16 and 17-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/13_classic_pills_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/14_classic_pics_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		<!-- Pages 18 and 19-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/inspiration_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		
		
		<!-- Pages 18 and 19-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/15_obi_pills_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/16_obi_pics_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		
		<!-- Pages 20 and 21-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/17_pure_linen_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		
		<!-- Pages 22 and 23-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/18_runners_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_rel_b/19_colors_linen_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		

		<!-- Back Cover -->
		<div class="fb-page">
			<div class="page-content">
				<div class="container">
					<%= image_tag "flipbookimg/pages/preview/first_rel_b/20_back_cover_b.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>
		</div>
		
		<!-- end Flip Book Pages -->
		
	</div> <!-- end Flip Book -->
	
	<!-- Flip Book Navigation -->
	<div id="fb-nav-1" class="fb-nav mobile stacked">
		<ul>
			<li class="toc left">Table Of Content</li>
			<li class="zoom center">Zoom</li>
			<li class="slideshow center">Slide Show</li>
			<li class="show-all right">Show All Pages</li>
		</ul>
				
	</div> <!-- end FLip Book Nav -->
</div> <!-- end Flip Book Container -->