
<%= link_to "Go to BOOK View",  home_path( :mobile => 0), id: "link_css" %>
<span class: "hide_text enlarge" style="visibility:hidden">COLLECTION</span>
<div class="vert_container">
<%= image_tag "flipbookimg/pages/preview/first_rel_d/sat_orange_b.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/booth.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/05_beauty_words_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/06_brocades_silk_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/07_velvet_throws_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/08_inspiration_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/09_twisted_pills_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/10_twisted_silks_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/11_classic_pills_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/12_classic_pics_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/13_brocade_velvet_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/14_shantung_velvet_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>				
<%= image_tag "flipbookimg/pages/preview/first_rel_d/15_pure_linen_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/16_runners_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/17_colors_linen_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
<br></br>
<%= image_tag "flipbookimg/pages/preview/first_rel_d/back_cover_e.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
		
</div>


