<div id="flipbook-container-1" class="flipbook-container">
	
	<!-- Flip book -->
	<div id="flipbook-1" class="flipbook">
		<!-- Start Flip Book Pages -->
		
		<!-- Cover -->
		<div class="fb-page">
			<div class="page-content">
				<div class="container">
					<%= image_tag "flipbookimg/pages/preview/first_release/j13_00_sat_orange.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>
		</div>
		
		<!-- Pages 2 & 3 Table of Content 
	        <h2 class="enlarge" style="color:$satOrange">Satsuma Collection</h2>
	    -->
		<div class="fb-page double">
			<div class="page-content">
				<div class="container">
					<div style="padding-top: 2%;" class="preview-content toc right">
						<h2 class="enlarge" style="color: #FE9261">Satsuma Collection</h2>
						<h3 class="enlarge" style="color: black">Table of Contents</h3>		
						<ul class="toc enlarge" >
							<!-- <li><a href="#3"></a><span class="number">03</span><span class="text" >Table of Contents</span></a></li> -->
							<li><a href="#1"><span class="number">01</span><span class="text" >Front Cover</span></a></li> 
							<li><a href="#5"><span class="number">05</span><span class="text">Satsuma Presents</span></a></li>
							<li><a href="#6"><span class="number">06</span><span class="text">Hand Washed Silk</span></a></li>
							<li><a href="#7"><span class="number">07</span><span class="text">Japanese Silk Obis</span></a></li>
							<li><a href="#8"><span class="number">08</span><span class="text">Cognac Velvet</span></a></li>
							<li><a href="#9"><span class="number">09</span><span class="text">Cherry Blossom</span></a></li>
							<li><a href="#10"><span class="number">10</span><span class="text">Velvet Throws</span></a></li>
							<li><a href="#11"><span class="number">11</span><span class="text">Bittersweet Velvet</span></a></li>
							<li><a href="#12"><span class="number">12</span><span class="text">Back Cover</span></a></li>
						</ul>
					</div>
					<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
					<%= image_tag "flipbookimg/pages/preview/blank-pg.jpg", class: "bg-img zoom-large"%>					 
				</div>
			</div>
		</div>

		<!-- Pages 4 and 5 , Satsuma Presents -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<%= image_tag "flipbookimg/pages/preview/first_release/booth1249My.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_release/j13_01_sat_presents.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		
		<!-- Pages 6 and 7 -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_release/j13_02_hand_washed.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_release/j13_03_inspiration.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		<!-- Pages 8 and 9 -->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_release/j13_04_cognac_velvet.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_release/j13_05_cherry_blossom.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	

		<!-- Pages 10 and 11-->
		<div class="fb-page">
			<div class="page-content">	
				<div class="container">	
				<!-- left page content -->
						 <%= image_tag "flipbookimg/pages/preview/first_release/j13_08_velvet_throws.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
            </div>
        </div>
		<div class="fb-page">         
            <div class="page-content">
            	<div class="container">
				<!-- right page content -->    
						 <%= image_tag "flipbookimg/pages/preview/first_release/j13_09_bittersweet_velvet.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>				 
		</div>	
		
		<!-- Back Cover p12-->
		<div class="fb-page">
			<div class="page-content">
				<div class="container">
					<%= image_tag "flipbookimg/pages/preview/first_release/j13_28_back_cover.bmp",class: "bg-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				</div>
			</div>
		</div>
		
		<!-- end Flip Book Pages -->
		
	</div> <!-- end Flip Book -->
	
	<!-- Flip Book Navigation -->
	<div id="fb-nav-1" class="fb-nav mobile stacked">
		<ul>
			<li class="toc left">Table Of Content</li>
			<li class="zoom center">Zoom</li>
			<li class="slideshow center">Slide Show</li>
			<li class="show-all right">Show All Pages</li>
		</ul>
				
	</div> <!-- end FLip Book Nav -->
</div> <!-- end Flip Book Container -->