
<div id="vert_container">
<%= image_tag "flipbookimg/pages/preview/first_rel_d/sat_orange_b.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>


<%= image_tag "flipbookimg/pages/preview/first_rel_d/02_booth_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/04_brocade_coll_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/05_beauty_words_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/06_brocades_silk_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/07_twisted_silks_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/08_twisted_avail_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/09_classic_pills_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/10_classic_pics_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/11_velvet_throws_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/12_inspiration_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>


<%= image_tag "flipbookimg/pages/preview/first_rel_d/13_pear_velvet_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
				

<%= image_tag "flipbookimg/pages/preview/first_rel_d/14_chrys_brocades_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/15_pure_linen_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/16_runners_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/17_colors_linen_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>

<%= image_tag "flipbookimg/pages/preview/first_rel_d/back_cover_d.PNG",class: "vertview-img",  :alt => "Path to Picture not found !!!!!!!!!" %>
		
</div>


